/*Financial Planning Site*/

#navbar {
    display: inline;
    color: black;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

li a:hover {
    background-color:#555;
    color: white;
}

q {
    text-align: center;
    font-family:
}

#WellBePic {
    margin: 2px;
    padding: 3px;
    float: right;
    clear: right;
}

body {
    background-color: white;
}

h1 {
  font-family:
}
